[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scopusflow"]
	path = scopusflow
	url = https://github.com/pablobernabeu/scopusflow
